.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; /* Optional: adds a background color */
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  font-size: 24px;
}

.colorBlack {
  color: black;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
}

.game-info {
  margin-left: 40px;
}

.boarding {
  margin-right: 40px;
}

.texting {
  display: grid;
  padding: 20px;
}
